
<table class='table table-condensed'>
  <tr> <td colspan="7"><h1>收费记录</td></tr>
  <tr><th>电表编号</th><th>缴费金额</th><th>缴费金额（大写）</th><th>购买电量</th><th>加载状态</th><th>购买日期</th><th>收费员</th></tr>
  <% @records.each do |record| %>
  <tr>
  	<td> <%= record.Meter_id %> </td>
  	<td> <%= record.PayMoney %> </td>
  	<td> <%= record.Capital %> </td>
  	<td> <%= record.PayPower %> </td>
  	<td> <%= record.RunPayFlag ? '已加载' : '未加载' %> </td>
  	<td> <%= record.PayDate.to_formatted_s(:db) %> </td>
  	<td> <%= record.Operator %> </td>
  </tr>
  <% end %>
</table>