<% if flash[:notice] %>
    <div class="notice"><font color='red'><%= flash[:notice] %></font></div>
  <% end %>

 <style>
    .tb-right-align
    {
    	width: 30%; 
    	text-align: right;
    }
</style>

<%= form_tag("/meters/search", :method => "get") do %>
  <table class="table table-condensed">
	<tr>
	  <td class="tb-right-align">
	    <%= label_tag '所属地区 ：', nil, :class => 'input-medium search-query' %> 
	  </td>
	  <td>
	    <%= select_tag "db", "<option value='wlg0801' > 乌拉盖</option> <option value='bq' > 白旗 </option> <option value='hq' > 黄旗 </option><option value='lq' > 蓝旗 </option>".html_safe %> 
	  </td>
	</tr>

	<tr>
	  <td>
	    <%= label_tag '用户编号：', nil, :class => 'input-medium search-query' %> 
	  </td>
	  <td>
	    <%= text_field_tag(:user_id) %>
	  </td>
	</tr>
	 <tr>
	  <td>
	    <%= label_tag '用户姓名：', nil, :class => 'input-medium search-query' %>
	  </td>
	  <td>
	    <%= text_field_tag(:user_name) %>
	  </td>
	</tr>
	<tr>
	  <td>
  		<%= label_tag '用户电话：', nil, :class => 'input-medium search-query' %>
	  </td>
	  <td>
  		<%= text_field_tag(:user_phone) %>
	  </td>
	</tr>
	<tr>
	  <td>
  		<%= label_tag '电表编号：', nil, :class => 'input-medium search-query' %>
	  </td>
	  <td>
  		<%= text_field_tag(:meter_id) %>
	  </td>
	</tr>
	<tr>
	  <td colspan="2" style="text-align:center">
  		<%= submit_tag nil, :class => 'btn btn-primary' %>
	  </td>
	</tr>
  </table>
<% end %>